In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
df = pd.read_json('Beauty.json', lines=True)
df

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image,date
0,5,True,"09 1, 2016",A3CIUOJXQ5VDQ2,B0000530HU,"{'Size:': ' 7.0 oz', 'Flavor:': ' Classic Ice ...",Shelly F,As advertised. Reasonably priced,Five Stars,1472710720,None,None,2016-09-01 06:18:40
1,5,True,"11 14, 2013",A3H7T87S984REU,B0000530HU,"{'Size:': ' 7.0 oz', 'Flavor:': ' Classic Ice ...",houserules18,Like the oder and the feel when I put it on my...,Good for the face,1384468143,None,None,2013-11-14 22:29:03
2,1,True,"08 18, 2013",A3J034YH7UG4KT,B0000530HU,"{'Size:': ' 7.0 oz', 'Flavor:': ' Classic Ice ...",Adam,I bought this to smell nice after I shave. Wh...,Smells awful,1376831082,None,None,2013-08-18 13:04:42
3,5,False,"05 3, 2011",A2UEO5XR3598GI,B0000530HU,"{'Size:': ' 7.0 oz', 'Flavor:': ' Classic Ice ...",Rich K,HEY!! I am an Aqua Velva Man and absolutely lo...,Truth is There IS Nothing Like an AQUA VELVA MAN.,1304424552,25,None,2011-05-03 12:09:12
4,5,True,"05 6, 2011",A3SFRT223XXWF7,B00006L9LC,{'Size:': ' 200ml/6.7oz'},C. C. Christian,If you ever want to feel pampered by a shampoo...,Bvlgari Shampoo,1304690578,3,None,2011-05-06 14:02:58
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5264,5,True,"08 23, 2018",AUX122XW8ONG6,B01DLR9IDI,{'Design:': ' ETA-C6B5F7C374'},Amzon Customer,I have genetic undereye darkness. Ive accepted...,Pretty Sweet!!!,1535043957,2,None,2018-08-23 17:05:57
5265,5,True,"08 23, 2018",AUX122XW8ONG6,B01DLR9IDI,{'Design:': ' ETA-7117EE3788'},Amzon Customer,I absolutely love this eye gel.,As advertised,1535025109,None,None,2018-08-23 11:51:49
5266,5,True,"08 23, 2018",AUX122XW8ONG6,B01DLR9IDI,{'Design:': ' ETA-BF66BD2F87'},Amzon Customer,The eye gel is easy to apply and I use it morn...,I'm very happy with,1535067647,None,None,2018-08-23 23:40:47
5267,5,True,"08 23, 2018",AUX122XW8ONG6,B01DLR9IDI,{'Design:': ' ETA-03868FCB34'},Amzon Customer,Ok this eye gel is good stuff.,Does it's thing!,1535028621,None,None,2018-08-23 12:50:21
5268,5,True,"08 23, 2018",AUX122XW8ONG6,B01DLR9IDI,{'Design:': ' ETA-C4893097E9'},Amzon Customer,This is the first eye gel/cream that actually ...,Happy,1535048160,None,None,2018-08-23 18:16:00

Write a function that recommends 5 beauty products for each user based on popularity among other users.

In [3]:
ratings_grp = df.groupby('asin').agg({'overall': [np.size, np.sum, np.mean]})
ratings_grp

C:\Users\elige\AppData\Local\Temp\ipykernel_24908\1717371758.py:1: FutureWarning: The provided callable <function sum at 0x000002292A8B7740> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ratings_grp = df.groupby('asin').agg({'overall': [np.size, np.sum, np.mean]})
C:\Users\elige\AppData\Local\Temp\ipykernel_24908\1717371758.py:1: FutureWarning: The provided callable <function mean at 0x000002292A8D4B80> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ratings_grp = df.groupby('asin').agg({'overall': [np.size, np.sum, np.mean]})

           overall
              size   sum      mean
asin
B0000530HU       4    16  4.000000
B00006L9LC     489  2329  4.762781
B00021DJ32       3    14  4.666667
B0002JHI1I       2    10  5.000000
B0006O10P4       6    28  4.666667
...            ...   ...       ...
B019V2KYZS       6    26  4.333333
B01BNEYGQU      13    60  4.615385
B01DKQAXC0       1     5  5.000000
B01DLR9IDI      21   105  5.000000
B01E7UKR38      23   102  4.434783

[85 rows x 3 columns]

In [4]:
ratings_grp[ratings_grp[('overall', 'size')] > 40]

           overall
              size   sum      mean
asin
B00006L9LC     489  2329  4.762781
B0009RF9DW     392  1937  4.941327
B000FI4S1E     392  1937  4.941327
B000URXP6E     858  4151  4.837995
B0010ZBORW      98   396  4.040816
B0012Y0ZG2    1794  8694  4.846154
B001OHV1H4     489  2329  4.762781
B00W259T7G     163   778  4.773006

In [5]:
popular_prod = ratings_grp[ratings_grp[('overall', 'size')] > 30].sort_values(('overall', 'mean'), ascending=False)
popular_prod

           overall
              size   sum      mean
asin
B0009RF9DW     392  1937  4.941327
B000FI4S1E     392  1937  4.941327
B0012Y0ZG2    1794  8694  4.846154
B000URXP6E     858  4151  4.837995
B00W259T7G     163   778  4.773006
B00006L9LC     489  2329  4.762781
B001OHV1H4     489  2329  4.762781
B0013NB7DW      40   180  4.500000
B0010ZBORW      98   396  4.040816
B001LNODUS      33   133  4.030303
B019FWRG3C      33   133  4.030303

In [6]:
def recommend_popular(df, popular, id, n): 
    ordered = df.loc[df['reviewerID'] == id, 'asin'].values 
    prod_to_order = [asin for asin in popular.index if asin not in ordered] 
    return prod_to_order[:n]

In [7]:
recommend_popular(df, popular_prod, 'A3CIUOJXQ5VDQ2', 5)

['B0009RF9DW', 'B000FI4S1E', 'B0012Y0ZG2', 'B000URXP6E', 'B00W259T7G']

In [8]:
recommend_popular(df, popular_prod, 'ANUDL8U5MQSPX', 5)

['B0009RF9DW', 'B000FI4S1E', 'B00W259T7G', 'B0013NB7DW', 'B0010ZBORW']

Write a function that recommends 5 beauty products for each user based on next items purchased by other users.

In [9]:
df

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image,date
0,5,True,"09 1, 2016",A3CIUOJXQ5VDQ2,B0000530HU,"{'Size:': ' 7.0 oz', 'Flavor:': ' Classic Ice ...",Shelly F,As advertised. Reasonably priced,Five Stars,1472710720,None,None,2016-09-01 06:18:40
1,5,True,"11 14, 2013",A3H7T87S984REU,B0000530HU,"{'Size:': ' 7.0 oz', 'Flavor:': ' Classic Ice ...",houserules18,Like the oder and the feel when I put it on my...,Good for the face,1384468143,None,None,2013-11-14 22:29:03
2,1,True,"08 18, 2013",A3J034YH7UG4KT,B0000530HU,"{'Size:': ' 7.0 oz', 'Flavor:': ' Classic Ice ...",Adam,I bought this to smell nice after I shave. Wh...,Smells awful,1376831082,None,None,2013-08-18 13:04:42
3,5,False,"05 3, 2011",A2UEO5XR3598GI,B0000530HU,"{'Size:': ' 7.0 oz', 'Flavor:': ' Classic Ice ...",Rich K,HEY!! I am an Aqua Velva Man and absolutely lo...,Truth is There IS Nothing Like an AQUA VELVA MAN.,1304424552,25,None,2011-05-03 12:09:12
4,5,True,"05 6, 2011",A3SFRT223XXWF7,B00006L9LC,{'Size:': ' 200ml/6.7oz'},C. C. Christian,If you ever want to feel pampered by a shampoo...,Bvlgari Shampoo,1304690578,3,None,2011-05-06 14:02:58
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5264,5,True,"08 23, 2018",AUX122XW8ONG6,B01DLR9IDI,{'Design:': ' ETA-C6B5F7C374'},Amzon Customer,I have genetic undereye darkness. Ive accepted...,Pretty Sweet!!!,1535043957,2,None,2018-08-23 17:05:57
5265,5,True,"08 23, 2018",AUX122XW8ONG6,B01DLR9IDI,{'Design:': ' ETA-7117EE3788'},Amzon Customer,I absolutely love this eye gel.,As advertised,1535025109,None,None,2018-08-23 11:51:49
5266,5,True,"08 23, 2018",AUX122XW8ONG6,B01DLR9IDI,{'Design:': ' ETA-BF66BD2F87'},Amzon Customer,The eye gel is easy to apply and I use it morn...,I'm very happy with,1535067647,None,None,2018-08-23 23:40:47
5267,5,True,"08 23, 2018",AUX122XW8ONG6,B01DLR9IDI,{'Design:': ' ETA-03868FCB34'},Amzon Customer,Ok this eye gel is good stuff.,Does it's thing!,1535028621,None,None,2018-08-23 12:50:21
5268,5,True,"08 23, 2018",AUX122XW8ONG6,B01DLR9IDI,{'Design:': ' ETA-C4893097E9'},Amzon Customer,This is the first eye gel/cream that actually ...,Happy,1535048160,None,None,2018-08-23 18:16:00

In [10]:
df_sorted = df.sort_values(['reviewerID', 'unixReviewTime'])

In [11]:
df_sorted.reset_index(drop=True, inplace= True)

In [12]:
df_sorted['next'] = np.nan
df_sorted

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image,date,next
0,5,True,"07 6, 2014",A105A034ZG9EHO,B0009RF9DW,{'Size:': ' 180'},K. Mras,yum,Five Stars,1404618865,None,None,2014-07-06 03:54:25,NaN
1,5,True,"07 6, 2014",A105A034ZG9EHO,B0012Y0ZG2,{'Size:': ' 180'},K. Mras,yum,Five Stars,1404631129,None,None,2014-07-06 07:18:49,NaN
2,5,True,"07 6, 2014",A105A034ZG9EHO,B000URXP6E,{'Size:': ' 180'},K. Mras,yum,Five Stars,1404640206,None,None,2014-07-06 09:50:06,NaN
3,5,True,"07 6, 2014",A105A034ZG9EHO,B000FI4S1E,None,K. Mras,yum,Five Stars,1404658381,None,None,2014-07-06 14:53:01,NaN
4,5,True,"07 6, 2014",A105A034ZG9EHO,B0012Y0ZG2,{'Size:': ' 180'},K. Mras,yum,Five Stars,1404664482,None,None,2014-07-06 16:34:42,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5264,5,True,"09 28, 2014",AZRD4IZU6TBFV,B0012Y0ZG2,{'Size:': ' 200'},Norma Gandy,Like this product very much..it smells great.,Five Stars,1411890521,None,None,2014-09-28 07:48:41,NaN
5265,5,True,"09 28, 2014",AZRD4IZU6TBFV,B0009RF9DW,{'Size:': ' 200'},Norma Gandy,Like this product very much..it smells great.,Five Stars,1411899376,None,None,2014-09-28 10:16:16,NaN
5266,5,True,"09 28, 2014",AZRD4IZU6TBFV,B0012Y0ZG2,{'Size:': ' 200'},Norma Gandy,Like this product very much..it smells great.,Five Stars,1411904367,None,None,2014-09-28 11:39:27,NaN
5267,5,True,"09 28, 2014",AZRD4IZU6TBFV,B000URXP6E,{'Size:': ' 200'},Norma Gandy,Like this product very much..it smells great.,Five Stars,1411909691,None,None,2014-09-28 13:08:11,NaN
5268,5,True,"09 28, 2014",AZRD4IZU6TBFV,B000FI4S1E,None,Norma Gandy,Like this product very much..it smells great.,Five Stars,1411935527,None,None,2014-09-28 20:18:47,NaN

In [13]:
for x in range(len(df_sorted)-1):
    if df_sorted['reviewerID'][x] == df_sorted['reviewerID'][x+1]: 
        df_sorted['next'][x] = df_sorted['asin'][x+1]
    else:
        df_sorted['next'][x] = np.nan

C:\Users\elige\AppData\Local\Temp\ipykernel_24908\2970471174.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_sorted['next'][x] = df_sorted['asin'][x+1]
C:\Users\elige\AppData\Local\Temp\ipykernel_24908\2970471174.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sorted['next'][x] = df_sorted['asin'][x+1]
C:\Users\elige\AppData\Local\Temp\ipykernel_24908\2970471174.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'B0012Y0ZG2' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_sorted['next'][x] = df_sorted['asin'][x+1]

In [17]:
def recommend_next(id, df, n):
    last_prod = df.loc[df.reviewerID == id, 'asin'].iloc[-1]

    # get last product from all the products for that specific user 
    print(f"last product: {last_prod}")

    # find all the frequency counts to know which product is most ordered after the last_prod
    next_prod = df.loc[df['asin'] == last_prod, 'next'].value_counts(dropna=True)[:n]
    print(F"Next product recommendations: {next_prod}")

In [18]:
recommend_next('A105A034ZG9EHO', df_sorted, 5)

last product: B0012Y0ZG2
Next product recommendations: next
B0012Y0ZG2    376
B000URXP6E    357
B001OHV1H4    187
B00006L9LC    173
B0009RF9DW    154
Name: count, dtype: int64

In [19]:
recommend_next('AZRD4IZU6TBFV', df_sorted, 5)

last product: B000FI4S1E
Next product recommendations: next
B0012Y0ZG2    174
B0009RF9DW     83
B000URXP6E     62
B00IJHY54S      2
B000WYJTZG      1
Name: count, dtype: int64